<button mat-fab type="button" class="chat-button" (click)="openChatRoom()" color="primary" #chatButton>
  <mat-icon>chat</mat-icon>
</button>

<ng-template #chatRoom>
  <mat-drawer-container class="chat-room">
    <mat-drawer mode="side" opened>
      <mat-action-list>
        <mat-divider class="rooms"></mat-divider>
        <button *ngFor="let member of members" type="button" (click)="createRoom(member)" mat-list-item>
          {{member.displayName}}
        </button>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content>
      <form autocomplete="off" (ngSubmit)="send()">
        <mat-list class="messages">
          <mat-list-item *ngFor="let message of messages">{{message}}</mat-list-item>
        </mat-list>
        <div class="input-zone">
          <mat-form-field>
            <mat-label>訊息</mat-label>
            <input matInput type="text" class="message" name="name" [(ngModel)]="message">
          </mat-form-field>
          <button mat-button type="submit" color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
