@import '~@angular/material/theming';

.chat-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.chat-room {
  @include mat-elevation(10);
  display: block;
  background: #f9f9f9;
  padding: 8px;
  min-width: 360px;
}

.rooms {
  min-width: 120px
}

.messages {
  height: 160px;
  overflow: auto;
}

.input-zone {
  display: flex;
  padding:  5px;
}

.message {
  flex: 1;
}
