<button mat-fab class="chat-button" color="primary" (click)="openChatRoom()" #chatButton>
  <mat-icon>chat</mat-icon>
</button>

<ng-template #chatRoom>
  <mat-drawer-container class="chat-room">
    <mat-drawer mode="side" opened>
      <mat-action-list>
        <mat-divider class="rooms"></mat-divider>
        <button mat-list-item *ngFor="let member of members" (click)="createRoom(member)">
          {{member.displayName}}
        </button>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content>
      <form autocomplete="off">
        <mat-list class="messages">
          <mat-list-item *ngFor="let message of messages">{{message}}</mat-list-item>
        </mat-list>
        <div class="input-zone">
          <mat-form-field>
            <input matInput type="text" class="message" name="name" placeholder="訊息" [(ngModel)]="message">
          </mat-form-field>
          <button mat-button color="primary" (click)="send()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
