@import '~@angular/material/theming';

main {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 599px) and (orientation: portrait),
screen and (max-width: 959px) and (orientation: landscape) {
  main {
    top: 56px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.theme-panel {
  background-color: #fff;
  padding: 8px;
}

.theme-picker {
  display: block;
  min-width: 176px;
  max-width: 280px;
  background-color: #fff;
}

.theme-cell {
  height: 36px;
  width: 36px;
  margin: 8px;
  overflow: hidden;
  color: #fff;
}

.strawberry-primary {
  background-color: map-get($mat-pink, 500);
}

.forest-primary {
  background-color: map-get($mat-teal, 500);
}

.ocean-primary {
  background-color: map-get($mat-blue, 500);
}

.grape-primary {
  background-color: map-get($mat-deep-purple, 500);
}

.menu-tree-invisible {
  display: none;
}

.menu-tree ul,
.menu-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-item {
  width: 100%;
  text-align: left;
}
