<div fxLayout="row">
  <div class="grid-container" fxFlex="75">
    <h2 class="mat-h2">{{store.name}}</h2>
    <div *ngIf="store.productCategories?.length > 1" fxLayout="row" fxLayoutGap="15px">
      <mat-card class="category-card" *ngFor="let category of store.productCategories" fxFlex.gt-md="33" fxFlex="50">
        <mat-card-header>
          <mat-card-title>
            {{category.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="category-card-content">
          <div>
            <mat-list>
              <mat-list-item *ngFor="let product of category.products" (click)="selectProduct(product)">
                <span>{{product.name}}</span>
                <span class="fill-space"></span>
                <mat-chip-list>
                  <mat-chip *ngFor="let productItem of product.productItems">
                    <span *ngIf="productItem.name">{{productItem.name}}:</span>
                    {{productItem.price}}
                  </mat-chip>
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="order-container" fxFlex="25">
    <mat-card class="order-card">
      <mat-card-header>
        <mat-card-title>
          我的訂單
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="order-card-content">
        <mat-list>
          <mat-list-item *ngFor="let orderItem of order.orderItems">
            <button mat-icon-button color="warn" matTooltip="刪除商品項目" (click)="deleteOrderItem(orderItem)">
              <mat-icon>remove_circle</mat-icon>
            </button>
            <span matLine>{{orderItem.product.name}}</span>
            <span matLine>{{orderItem.productItem.name}} ${{orderItem.productItem.price}} X {{orderItem.quantity}}</span>
          </mat-list-item>
        </mat-list>
        <div fxLayout="row" fxLayoutAlign="end">
          總額: ${{total}}
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-button color="primary" (click)="save()">送出訂單</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
