<header class="{{selectedTheme}}">
  <nav>
    <mat-toolbar color="primary">
      <a routerLink="/" routerLinkActive="active" mat-button>{{title}}</a>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-seprator"></span>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" #themeButton>
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </nav>
  <mat-menu #themeMenu="matMenu" [class]="theme-panel" [overlapTrigger]="false">
    <mat-grid-list class="theme-picker" cols="4">
      <mat-grid-tile>
        <button mat-button mat-icon-button class="theme-cell strawberry-primary" (click)="changeTheme(theme.Strawberry)">
          <mat-icon *ngIf="selectedTheme === theme.Strawberry">done</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button mat-icon-button class="theme-cell forest-primary" (click)="changeTheme(theme.Forest)">
          <mat-icon *ngIf="selectedTheme === theme.Forest">done</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button mat-icon-button class="theme-cell ocean-primary" (click)="changeTheme(theme.Ocean)">
          <mat-icon *ngIf="selectedTheme === theme.Ocean">done</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button mat-icon-button class="theme-cell grape-primary" (click)="changeTheme(theme.Grape)">
          <mat-icon *ngIf="selectedTheme === theme.Grape">done</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
</header>
<main class="{{selectedTheme}}">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>group</mat-icon>
            <span class="menu-title">會員管理</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let menu of menus" class="menu-item" routerLink="{{menu.Url}}" routerLinkActive="active" mat-list-item>{{menu.Name}}</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <div class="sidebar-background" style="background-image: url(/assets/images/jetty.jpg);"></div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
