<div class="container" fxLayout="column">
  <form autocomplete="off">
    <h2 class="mat-h2">{{saveMode | actionName}}店家</h2>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <mat-form-field>
            <input matInput name="startTime" placeholder="開始時間" [(ngModel)]="group.startTime" [matDatepicker]="pickerStartTime">
            <mat-datepicker-toggle matSuffix [for]="pickerStartTime"></mat-datepicker-toggle>
            <mat-datepicker type="datetime" #pickerStartTime></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="endTime" placeholder="結束時間" [(ngModel)]="group.endTime" [matDatepicker]="pickerEndTime">
            <mat-datepicker-toggle matSuffix [for]="pickerEndTime"></mat-datepicker-toggle>
            <mat-datepicker type="datetime" #pickerEndTime></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput name="remark" placeholder="備註" [(ngModel)]="group.remark" matTextareaAutosize></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-button (click)="back()">返回</button>
          <button mat-button color="primary" (click)="save()">{{saveMode | actionName}}</button>
        </div>
        <div class="loading-overlay" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
