@import '~@angular/material/theming';
$app-typography: mat-typography-config($font-family: 'Noto Sans TC, sans-serif');
@include mat-core($app-typography);
$strawberry-primary: mat-palette($mat-pink);
$strawberry-accent: mat-palette($mat-pink);
$strawberry-warn: mat-palette($mat-brown);
$strawberry-theme: mat-light-theme($strawberry-primary, $strawberry-accent, $strawberry-warn);
.strawberry-theme {
  @include angular-material-theme($strawberry-theme);
}

$forest-primary: mat-palette($mat-teal);
$forest-accent: mat-palette($mat-pink);
$forest-warn: mat-palette($mat-brown);
$forest-theme: mat-light-theme($forest-primary, $forest-accent, $forest-warn);
.forest-theme {
  @include angular-material-theme($forest-theme);
}

$ocean-primary: mat-palette($mat-blue);
$ocean-accent: mat-palette($mat-deep-orange);
$ocean-warn: mat-palette($mat-pink);
$ocean-theme: mat-light-theme($ocean-primary, $ocean-accent, $ocean-warn);
.ocean-theme {
  @include angular-material-theme($ocean-theme);
}

$grape-primary: mat-palette($mat-deep-purple);
$grape-accent: mat-palette($mat-pink);
$grape-warn: mat-palette($mat-brown);
$grape-theme: mat-light-theme($grape-primary, $grape-accent, $grape-warn);
.grape-theme {
  @include angular-material-theme($grape-theme);
}
