<div class="container" fxLayout="column">
  <form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{saveMode | actionName}}使用者</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput type="text" name="name" placeholder="名稱" [(ngModel)]="user.userName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput type="password" name="password" placeholder="密碼" [(ngModel)]="user.password">
          </mat-form-field>
        </div>
        <div>
          <mat-slide-toggle name="isEnabled" [(ngModel)]="user.isEnabled">是否啟用</mat-slide-toggle>
        </div>
        <div>
          <p>角色</p>
          <mat-checkbox *ngFor="let role of user.roles; let i = index;" class="role" name="role{{role.roleId}}" [(ngModel)]="role.isChecked">{{role.name}}</mat-checkbox>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="back()">返回</button>
        <button mat-button color="primary" (click)="save()">儲存</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
