<div class="container">
  <form autocomplete="off" (ngSubmit)="save()">
    <h2 class="mat-h2">{{saveMode | actionName}}店家</h2>
    <mat-card>
      <mat-card-content>
        <app-card-loading *ngIf="isLoading"></app-card-loading>
        <mat-horizontal-stepper linear>
          <mat-step>
            <ng-template matStepLabel>店家基本資料</ng-template>
            <div class="store">
              <div class="column">
                <div>
                  <mat-form-field>
                    <mat-label>名稱</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="store.name">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>描述</mat-label>
                    <textarea matInput name="description" [(ngModel)]="store.description"
                      matTextareaAutosize></textarea>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>電話</mat-label>
                    <input matInput type="tel" name="phone" [(ngModel)]="store.phone">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>縣市</mat-label>
                    <mat-select name="addressCity" [(value)]="selectedCity">
                      <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>鄉鎮市區</mat-label>
                    <mat-select name="addressDistrict" [(value)]="selectedDistrict">
                      <mat-option *ngFor="let district of selectedCity.districts" [value]="district">
                        {{district.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>路名</mat-label>
                    <input matInput type="text" name="addressStreet" [(ngModel)]="store.address.street">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>備註</mat-label>
                    <textarea matInput name="remark" [(ngModel)]="store.remark" matTextareaAutosize></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="column">
                <img [src]="store.logoUri" [alt]="store.name">
                <input type="file" accept="image/*" (change)="changeLogo($event)" hidden #fileUpload />
                <input matInput type="text" name="logoName" [ngModel]="logo?.name">
                <button mat-button type="button" (click)="fileUpload.click()" color="primary">Choose Files</button>
              </div>
              <div>
                <button mat-button type="button" (click)="back()">返回</button>
                <button mat-button type="button" matStepperNext color="primary">下一步</button>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>商品</ng-template>
            <button mat-button type="button" (click)="createProductCategory()" color="primary">新增分類</button>
            <div class="category-list" cdkDropList [cdkDropListData]="store.productCategories"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let category of store.productCategories" class="category-box" cdkDrag>
                <div class="category-title">
                  <app-inline-editor name="分類名稱" [(value)]="category.name"></app-inline-editor>
                  <button mat-button type="button" (click)="createProduct(category)" color="primary">新增商品</button>
                  <span class="fill-space"></span>
                  <button mat-icon-button type="button" (click)="deleteProductCategory(category)" matTooltip="刪除分類"
                    color="warn">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
                <div class="product-list" cdkDropList [cdkDropListData]="category.products"
                  (cdkDropListDropped)="drop($event)">
                  <div *ngFor="let product of category.products" class="product-box" cdkDrag>
                    <button mat-button type="button" (click)="updateProduct(product)">{{product.name}}</button>
                    <span class="fill-space"></span>
                    <mat-chip-list>
                      <mat-chip *ngFor="let productItem of product.productItems">
                        <span *ngIf="productItem.name">{{productItem.name}}:</span>
                        {{productItem.price}}
                      </mat-chip>
                    </mat-chip-list>
                    <button mat-icon-button type="button" (click)="deleteProduct(product, category)" matTooltip="刪除商品項目"
                      color="warn">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <p *ngIf="!isLoading && store.productCategories.length === 0" class="empty-result">查無資料</p>
            </div>
            <div>
              <button mat-button type="button" matStepperPrevious>上一步</button>
              <button mat-button type="button" matStepperNext color="primary">下一步</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>確認</ng-template>
            點擊 [{{saveMode | actionName}}] 送出
            <div>
              <button mat-button type="button" matStepperPrevious>上一步</button>
              <button mat-button type="submit" color="primary">{{saveMode | actionName}}</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </form>
</div>
