@import 'responsive.scss';

.group-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;

  @include xsmall {
    grid-template-columns: repeat(1, 1fr);
  }

  @include small {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medium {
    grid-template-columns: repeat(3, 1fr);
  }
}

.group-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  font-size: 108px;
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, .4);
    color: rgba(255, 255, 255, .9);
    visibility: visible;
  }
}

.group-card-content {
  text-align: center;
}
