<div class="container" fxLayout="column">
  <form autocomplete="off">
    <h2 class="mat-h2">{{saveMode | actionName}}店家</h2>
    <mat-card>
      <mat-card-content>
        <mat-horizontal-stepper linear>
          <mat-step>
            <ng-template matStepLabel>店家基本資料</ng-template>
            <div>
              <mat-form-field>
                <input matInput type="text" name="name" placeholder="名稱" [(ngModel)]="store.name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <textarea matInput name="description" placeholder="描述" [(ngModel)]="store.description"
                  matTextareaAutosize></textarea>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="tel" name="phone" placeholder="電話" [(ngModel)]="store.phone">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-form-field>
                <mat-select name="addressCity" placeholder="縣市" [(value)]="selectedCity">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select name="addressDistrict" placeholder="鄉鎮市區" [(value)]="selectedDistrict">
                  <mat-option *ngFor="let district of selectedCity.districts" [value]="district">
                    {{district.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="text" name="addressStreet" placeholder="路名" [(ngModel)]="store.address.street">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <textarea matInput name="remark" placeholder="備註" [(ngModel)]="store.remark" matTextareaAutosize></textarea>
              </mat-form-field>
            </div>
            <div>
              <button mat-button (click)="back()">返回</button>
              <button mat-button color="primary" matStepperNext>下一步</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>商品</ng-template>
            <button mat-button color="primary" (click)="createProductCategory()">新增分類</button>
            <div cdkDropList class="category-list" [cdkDropListData]="store.productCategories" (cdkDropListDropped)="drop($event)">
              <div cdkDrag class="category-box" *ngFor="let category of store.productCategories">
                <div>
                  <app-inline-editor *ngIf="!category.isDefault" name="分類名稱" [(value)]="category.name"></app-inline-editor>
                  <span *ngIf="category.isDefault">{{category.name}}</span>
                  <button mat-button color="primary" (click)="createProduct(category)">新增商品</button>
                </div>
                <div cdkDropList class="product-list" [cdkDropListData]="category.products" (cdkDropListDropped)="drop($event)">
                  <div cdkDrag class="product-box" *ngFor="let product of category.products">
                    <button mat-button (click)="updateProduct(product)">{{product.name}}</button>
                    <span class="fill-space"></span>
                    <mat-chip-list>
                      <mat-chip *ngFor="let productItem of product.productItems">
                        <span *ngIf="productItem.name">{{productItem.name}}:</span>
                        {{productItem.price}}
                      </mat-chip>
                    </mat-chip-list>
                    <button mat-icon-button color="warn" (click)="deleteProduct(product, category)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <p *ngIf="!isLoading && store.productCategories.itemCount === 0" class="empty-result">查無資料</p>
            </div>
            <div>
              <button mat-button matStepperPrevious>上一步</button>
              <button mat-button color="primary" matStepperNext>下一步</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>確認</ng-template>
            點擊 [{{saveMode | actionName}}] 送出
            <div>
              <button mat-button matStepperPrevious>上一步</button>
              <button mat-button color="primary" (click)="save()">{{saveMode | actionName}}</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
        <div class="loading-overlay" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
