.order-item {
  display: flex;
  flex-direction: column;

  &>*:not(:last-child) {
    margin-bottom: 20px;
  }
}

.product-items {
  display: flex;
  flex-direction: column;
}

.quantity {
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}
