header, main, footer {
  padding-left: 300px;
}

nav {
  box-shadow: none;
  background-color: #eee;
  padding: 0 15px;
}

  nav .brand-logo, nav ul a {
    color: #555;
  }

.btn-just-icon {
  font-size: 20px;
  line-height: 1em;
}

.form-search input {
  margin: 0;
}

.btn-just-icon i {
  position: relative;
  top: -7px;
}

@media(min-width: 768px) {
  .form-search {
    display: inline-block;
    margin-bottom: 0;
  }
}