<header>
  <nav class="top-nav grey lighten-3">
    <div class="container-fluid">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <a href="#!" class="brand-logo">{{title}}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="badges.html"><i class="material-icons">dashboard</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">notifications</i></a></li>
          <li><a href="mobile.html"><i class="material-icons">person</i></a></li>
        </ul>
        <form class="right hide-on-med-and-down" style="float: right!important;" role="search">
          <div class="form-search is-empty">
            <input type="text" class="form-control" id="search" placeholder="Search">
            <label for="search"></label>
            <span class="material-input"></span>
            <span class="material-input"></span>
          </div>
          <button type="submit" class="btn-floating btn-just-icon waves-circle white">
            <i class="material-icons grey-text">search</i>
          </button>
        </form>
      </div>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
    <li class="logo">
      <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">not support SVG</object>
      </a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-red">系統</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="color.html">使用者</a></li>
              <li routerLinkActive="active"><a routerLink="/roles">角色</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <!--- conetnt --->
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer class="page-footer">

</footer>

<div class="fixed-plugin">
</div>