header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

nav {
  box-shadow: none;
}

  nav .brand-logo, nav ul a {
    color: #555;
  }

.btn-just-icon {
  font-size: 20px;
  line-height: 1em;
}

.form-search input {
  margin: 0;
}

.btn-just-icon i {
  position: relative;
  top: -7px;
}

@media(min-width: 768px) {
  .form-search {
    display: inline-block;
    margin-bottom: 0;
  }
}

main {
  margin-top: 64px;
}