footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.full-page {
  background: url(/assets/images/jetty.jpg) no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.inner {
  padding: 30px;
  width: 400px;
  text-align: center;
  margin: 30vh auto 0;
}

.mat-card {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.mat-card-content>* {
  width: 100%;
}

.avatar {
  font-size: 100px;
  padding: 20px 0;
}

.input-text {
  color: #fff;
}
