<div class="card">
  <div class="card-header card-header-icon pink">
    <i class="material-icons white-text">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">角色<a class="btn btn-action waves-effect pink right modal-trigger" href="#modal-new-role"><i class="material-icons square">add</i></a></h4>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.RoleId}}</td>
          <td>{{role.Name}}</td>
          <td class="right">
            <a class="btn btn-action waves-effect green"><i class="material-icons square">person</i></a>
            <a class="btn btn-action waves-effect yellow"><i class="material-icons square">edit</i></a>
            <a class="btn btn-action waves-effect red"><i class="material-icons square">close</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal modal-fixed-footer" id="modal-new-role">
  <div class="modal-content">
    <h4>新增角色</h4>
    <form #addForm="ngForm" (ngSubmit)="submitForm(addForm.value)">
      <div class="input-field">
        <input type="text" class="validate" id="new-role-name" [(ngModel)]="newRole.Name" [ngModelOptions]="{standalone: true}" />
        <label for="new-role-name">名稱</label>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="new-role-is-enabled" [(ngModel)]="newRole.IsEnabled" [ngModelOptions]="{standalone: true}" />
        <label for="new-role-is-enabled">是否啟用</label>
      </p>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-flat modal-action modal-close waves-effect">Close</a>
  </div>
</div>
<!--<ul class="roles">
  <li *ngFor="let role of roles"
      [class.selected]="role === selectedRole"
      (click)="onSelect(role)">
    <span class="badge">{{role.id}}</span> {{role.name}}
  </li>
</ul>-->
<!--<div *ngIf="selectedRole">
  <h2>
    {{selectedRole.name | uppercase}} is my role
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>-->