<div class="card">
  <div class="card-header card-header-icon pink">
    <i class="material-icons white-text">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">角色<a class="btn btn-action waves-effect pink right modal-trigger" href="#modal-new-role"><i class="material-icons square">add</i></a></h4>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.RoleId}}</td>
          <td>{{role.Name}}</td>
          <td class="right">
            <a class="btn btn-action waves-effect green"><i class="material-icons square">person</i></a>
            <a class="btn btn-action waves-effect yellow modal-trigger" href="#modal-edit-role" (click)="onSelect(role)"><i class="material-icons square">edit</i></a>
            <a class="btn btn-action waves-effect red"><i class="material-icons square">close</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal modal-fixed-footer" id="modal-new-role">
  <form #addForm="ngForm" (ngSubmit)="addRole()">
    <div class="modal-content">
      <h4>新增角色</h4>
      <div class="input-field">
        <input type="text" class="validate" id="new-role-name" [(ngModel)]="newRole.Name" [ngModelOptions]="{standalone: true}" />
        <label for="new-role-name">名稱</label>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="new-role-is-enabled" [(ngModel)]="newRole.IsEnabled" [ngModelOptions]="{standalone: true}" />
        <label for="new-role-is-enabled">是否啟用</label>
      </p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-flat waves-effect modal-action">Submit</button>
      <a class="btn btn-flat waves-effect modal-action modal-close">Close</a>
    </div>
  </form>
</div>
<div class="modal modal-fixed-footer" id="modal-edit-role">
  <form #editForm="ngForm" (ngSubmit)="editRole()">
    <div class="modal-content">
      <h4>編輯角色</h4>
      <!--<input type="hidden" id="selected-role-id" [(ngModel)]="selectedRole.RoleId" [ngModelOptions]="{standalone: true}" />-->
      <div class="input-field">
        <input type="text" class="validate" id="selected-role-name" [(ngModel)]="selectedRole.Name" [ngModelOptions]="{standalone: true}" />
        <label for="selected-role-name" class="active">名稱</label>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="selected-role-is-enabled" [(ngModel)]="selectedRole.IsEnabled" [ngModelOptions]="{standalone: true}" />
        <label for="selected-role-is-enabled">是否啟用</label>
      </p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-flat waves-effect modal-action">Submit</button>
      <a class="btn btn-flat waves-effect modal-action modal-close">Close</a>
    </div>
  </form>
</div>