<header class="{{themeService.theme$ | async}}">
  <nav class="nav">
    <mat-toolbar color="primary">
      <a routerLink="/" routerLinkActive="active" mat-button>{{title}}</a>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="fill-space"></span>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" #themeButton>
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </nav>
  <mat-menu #themeMenu="matMenu" [class]="theme-panel" [overlapTrigger]="false">
    <app-theme-picker></app-theme-picker>
  </mat-menu>
  <mat-menu #profileMenu="matMenu">
    <a [routerLink]="['/admin']" mat-menu-item>管理</a>
    <button mat-menu-item (click)="signOut()">登出</button>
  </mat-menu>
</header>
<main class="{{themeService.theme$ | async}}">
  <router-outlet></router-outlet>
</main>
