/** {
  font-family: "Helvetica Neue", Helvetica, Arial, "LiHei Pro", "Microsoft JhengHei", sans-serif;
}*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}