<div class="card">
  <div class="card-header card-header-icon pink">
    <i class="material-icons white-text">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">使用者<a class="btn btn-action waves-effect pink right modal-trigger" href="#modal-new-user"><i class="material-icons square">add</i></a></h4>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>UserName</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.UserId}}</td>
          <td>{{user.UserName}}</td>
          <td class="right">
            <a class="btn btn-action waves-effect green"><i class="material-icons square">person</i></a>
            <a class="btn btn-action waves-effect yellow modal-trigger" href="#modal-edit-user" (click)="onSelect(user)"><i class="material-icons square">edit</i></a>
            <a class="btn btn-action waves-effect red"><i class="material-icons square">close</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal modal-fixed-footer" id="modal-new-user">
  <form #addForm="ngForm" (ngSubmit)="addUser()">
    <div class="modal-content">
      <h4>新增使用者</h4>
      <div class="input-field">
        <input type="text" class="validate" id="new-user-user-name" [(ngModel)]="newUser.UserName" [ngModelOptions]="{standalone: true}" />
        <label for="new-user-user-name">使用者名稱</label>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="new-user-is-enabled" [(ngModel)]="newUser.IsEnabled" [ngModelOptions]="{standalone: true}" />
        <label for="new-user-is-enabled">是否啟用</label>
      </p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-flat waves-effect modal-action">Submit</button>
      <a class="btn btn-flat waves-effect modal-action modal-close">Close</a>
    </div>
  </form>
</div>
<div class="modal modal-fixed-footer" id="modal-edit-user">
  <form #editForm="ngForm" (ngSubmit)="editUser()">
    <div class="modal-content">
      <h4>編輯使用者</h4>
      <!--<input type="hidden" id="selected-user-id" [(ngModel)]="selectedUser.UserId" [ngModelOptions]="{standalone: true}" />-->
      <div class="input-field">
        <input type="text" class="validate" id="selected-user-user-name" [(ngModel)]="selectedUser.UserName" [ngModelOptions]="{standalone: true}" />
        <label for="selected-user-user-name" class="active">名稱</label>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="selected-user-is-enabled" [(ngModel)]="selectedUser.IsEnabled" [ngModelOptions]="{standalone: true}" />
        <label for="selected-user-is-enabled">是否啟用</label>
      </p>
      <p>角色</p>
      <ul>
        <li *ngFor="let role of roles">
          <input type="checkbox" class="filled-in" id="role-{{role.RoleId}}" (change)="changeRole(role)" />
          <label for="role-{{role.RoleId}}">{{role.Name}}</label>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-flat waves-effect modal-action">Submit</button>
      <a class="btn btn-flat waves-effect modal-action modal-close">Close</a>
    </div>
  </form>
</div>