.card {
  margin: 25px 0;
}

  .card .card-header {
    z-index: 3;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    position: relative;
  }

    .card .card-header.card-header-icon {
      float: left;
    }

      .card .card-header.card-header-icon i {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
      }

  .card .card-content .card-title {
    line-height: 1em;
    margin-top: 0;
  }