.container {
  display: flex;
}

.store-container {
  flex: 3;
}

.order-container {
  flex: 1;
  margin-left: 20px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
}

.total,
.submit-order {
  display: flex;
  justify-content: flex-end;
}
