@import 'responsive.scss';

.container {
  display: flex;
}

.store-container {
  flex: 3;
}

.order-container {
  flex: 1;
  margin-left: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  @include xsmall {
    grid-template-columns: repeat(1, 1fr);
  }

  @include small {
    grid-template-columns: repeat(1, 1fr);
  }

  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }
}

.category-title {
  display: flex;
  flex-direction: column;
}

.product-item-list {
  display: inline-flex;
  text-align: right;

  .product-item {
    flex: 0 0 2rem;
    margin-left: 5px;
  }
}

.total,
.submit-order {
  display: flex;
  justify-content: flex-end;
}
