<div class="container">
  <div class="store-container">
    <h2 class="mat-h2">{{store.name}}</h2>
    <div *ngIf="store.productCategories?.length > 1" class="category-list">
      <mat-card *ngFor="let category of store.productCategories" class="category-card">
        <mat-card-header>
          <mat-card-title>
            {{category.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="category-card-content">
          <div>
            <mat-list>
              <mat-list-item *ngFor="let product of category.products" (click)="selectProduct(product)">
                <span>{{product.name}}</span>
                <span class="fill-space"></span>
                <mat-chip-list>
                  <mat-chip *ngFor="let productItem of product.productItems">
                    <span *ngIf="productItem.name">{{productItem.name}}:</span>
                    {{productItem.price}}
                  </mat-chip>
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="order-container">
    <form autocomplete="off" (ngSubmit)="save()">
      <mat-card class="order-card">
        <mat-card-header>
          <mat-card-title>
            我的訂單
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="order-card-content">
          <mat-list>
            <mat-list-item *ngFor="let orderItem of order.orderItems">
              <button mat-icon-button type="button" (click)="deleteOrderItem(orderItem)" matTooltip="刪除商品項目"
                color="warn">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <span matLine>{{orderItem.productName}}</span>
              <span matLine>
                {{orderItem.productItemName}} ${{orderItem.productItemPrice}} X {{orderItem.quantity}}
              </span>
            </mat-list-item>
          </mat-list>
          <div class="total">
            總額: ${{total}}
          </div>
          <div class="submit-order">
            <button mat-button type="button" color="primary">送出訂單</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
