<div class="grid-container">
  <h2 class="mat-h2">進行中的團購</h2>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-card class="store-card" *ngFor="let group of groups" fxFlex="20">
      <mat-card-header>
        <mat-card-title>
          {{group.store.name}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{group.store.logoUri}}" alt="{{group.store.name}}">
      <mat-card-content class="store-card-content">
        <div>
          截止日期: {{group.endTime | date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
      </mat-card-content>
      <a class="store-card-overlay" [routerLink]="['../groups', group.groupId, 'join']">
        <mat-icon class="no-select" inline>add_shopping_cart</mat-icon>
      </a>
    </mat-card>
  </div>
  <h2 class="mat-h2">選擇店家</h2>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-card class="store-card" *ngFor="let store of stores" fxFlex="20">
      <mat-card-header>
        <mat-card-title>
          {{store.name}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{store.logoUri}}" alt="{{store.name}}">
      <mat-card-content class="store-card-content">
        <div>
          Card Content Here
        </div>
      </mat-card-content>
      <a class="store-card-overlay" [routerLink]="['../groups/new']" [queryParams]="{storeId: store.storeId}">
        <mat-icon class="no-select" inline>add_circle_outline</mat-icon>
      </a>
    </mat-card>
  </div>
</div>
