<div class="grid-container">
  <h1 class="mat-h1">選擇店家</h1>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-card class="store-card" *ngFor="let store of stores" fxFlex="20">
      <mat-card-header>
        <mat-card-title>
          {{store.name}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{store.logoUri}}" alt="{{store.name}}">
      <mat-card-content class="store-card-content">
        <div>
          Card Content Here
        </div>
      </mat-card-content>
      <a class="store-card-overlay" routerLink="/groups/new" [queryParams]="{storeId: store.storeId}">
        <mat-icon class="no-select" inline>add_circle_outline</mat-icon>
      </a>
    </mat-card>
  </div>
</div>
