<span cdkOverlayOrigin class="overlay-origin" matTooltip="點擊編輯" (click)="display()">
  {{value}}
  <span *ngIf="!newValue" class="add-hint">點擊輸入{{name}}</span>
</span>

<ng-template #overlayArea>
  <form autocomplete="off" (ngSubmit)="save()">
    <div class="overlay-area">
      <div class="mat-subheading-2">{{name}}</div>
      <mat-form-field>
        <input matInput maxLength="140" name="newValue" autofocus [(ngModel)]="newValue" #editor>
        <mat-hint align="end">{{newValue?.length || 0}}/140</mat-hint>
      </mat-form-field>
      <div class="actions">
        <button mat-button type="button" (click)="back()">返回</button>
        <button mat-button type="submit" color="primary">確認</button>
      </div>
    </div>
  </form>
</ng-template>
